* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
.button:hover {
  background: #EB443F;
  transition: all 0.3s;
}

.top {
  height: 1024px;
  background-image: url(../img/top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 217px;
}
.top__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 32px;
}
.top__text {
  width: 481px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 44px;
}

.game-box {
  display: flex;
  padding: 128px 0;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  background: #000915;
}
.game-box__game {
  display: flex;
  align-items: flex-end;
  padding: 32px;
  border-radius: 16px;
  width: 379px;
  height: 300px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.game-box__game:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
  transition: all 0.3s;
}

.game-1 {
  background-image: url(../img/game_1.png);
  background-position: center;
}

.game-2 {
  background-image: url(../img/game_2.png);
  background-position: center;
}

.game-3 {
  background-image: url(../img/game_3.png);
  background-position: center;
}

.games {
  background: #000915;
}
.games__block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 233px 0;
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.games__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
}
.games__title {
  font-size: 48px;
  line-height: 59px;
}
.games__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.games__text_center {
  text-align: center;
  padding: 0 118px;
}
.games__mystery {
  background-image: url(../img/bgGame3.jpg);
  background-size: cover;
  background-position: center;
  padding: 276px 0;
  display: flex;
  justify-content: center;
}
.games__mystery_center {
  display: flex;
  align-items: center;
}

.footer {
  background: #000915;
  border-top: 1px solid rgba(184, 212, 255, 0.2);
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1279px) {
  .center {
    padding-left: 40px;
    padding-right: 40px;
  }
  .top {
    background-position: center;
  }
}
@media (max-width: 1100px) {
  .center {
    padding-left: 25px;
    padding-right: 25px;
  }
  .games__block {
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
  .games__img {
    margin-top: 64px;
    width: 344px;
    height: 236px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    padding-top: 238px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__text {
    width: 343px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 32px;
  }
  .button {
    align-self: center;
  }
  .games__block {
    flex-wrap: wrap;
    padding: 51px 0 85px 0;
    justify-content: center;
  }
  .games__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .games__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .games__text_center {
    padding: 0;
  }
  .games__img_memoriz {
    order: 1;
  }
  .games__mystery {
    padding-bottom: 487px;
  }
}
@media (max-width: 620px) {
  .top {
    background-image: url(../img/bgMobile.jpg);
    background-position: center;
  }
}/*# sourceMappingURL=style.css.map */